@import "../dist/webkit-sassui-position-box.scss";
.test-webkit-sassui-position-box{
  border:1px solid red;
}

html,body{
  height: 100%;
  overflow: hidden;
}

.box{
  width: 80%;
  height: 80%;
  margin:20px auto;

  span{
    display: inline-block;
    width:60px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: salmon;
  }
}
