@import "../dist/webkit-sassui-position-box.scss";
.test-webkit-sassui-position-box{
  border:1px solid red;
}

.box{
  width: 300px;
  height: 300px;

  span{
    display: inline-block;
    width:60px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: salmon;
  }
}
