/*webkit-sassui-position-box Start*/
.webkit-sassui-position-box[data-position=relative] {
  position: relative;
}

.webkit-sassui-position-box[data-position=absolute] {
  position: absolute;
}

.webkit-sassui-position-box[data-position=fixed] {
  position: fixed;
}

.webkit-sassui-position-box > *[data-direction] {
  position: absolute;
}

.webkit-sassui-position-box > *[data-direction=center] {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.webkit-sassui-position-box > *[data-direction=top], .webkit-sassui-position-box > *[data-direction=bottom] {
  left: 50%;
  transform: translateX(-50%);
}

.webkit-sassui-position-box > *[data-direction=left], .webkit-sassui-position-box > *[data-direction=right] {
  top: 50%;
  transform: translateY(-50%);
}

.webkit-sassui-position-box > *[data-direction=top] {
  top: 0;
}

.webkit-sassui-position-box > *[data-direction=right] {
  right: 0;
}

.webkit-sassui-position-box > *[data-direction=bottom] {
  bottom: 0;
}

.webkit-sassui-position-box > *[data-direction=left] {
  left: 0;
}

.webkit-sassui-position-box > *[data-direction=lt] {
  left: 0;
  top: 0;
}

.webkit-sassui-position-box > *[data-direction=tr] {
  top: 0;
  right: 0;
}

.webkit-sassui-position-box > *[data-direction=rb] {
  right: 0;
  bottom: 0;
}

.webkit-sassui-position-box > *[data-direction=bl] {
  bottom: 0;
  left: 0;
}

.webkit-sassui-position-box > *[data-direction=lt] {
  left: 0;
  top: 0;
}

/*webkit-sassui-position-box End*/
.test-webkit-sassui-position-box {
  border: 1px solid red;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.box {
  width: 100%;
  height: 100%;
}

.box span {
  display: inline-block;
  width: 60px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: salmon;
}
